<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875124646298-37a1vt6ar94jtf8k83ac77dbs8gcim88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875124646298-37a1vt6ar94jtf8k83ac77dbs8gcim88</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>875124646298-dg56srgc6uh78lsftfen4vcj49us89bg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-acLilLepNihQYnWWtRMiiRepXpqpJo0</string>
	<key>GCM_SENDER_ID</key>
	<string>875124646298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sherhxtr.zoop</string>
	<key>PROJECT_ID</key>
	<string>zoop-5b80</string>
	<key>STORAGE_BUCKET</key>
	<string>zoop-5b80.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875124646298:ios:908d22165ef20b72fb1a23</string>
</dict>
</plist>